body {
  max-width: 100vw;
  max-height: 100vh;
}

#map-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#map-container canvas {
  max-width: 100%;
  max-height: 100%;

  background-color: red;

  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}
